[BASIC]
disable = C0103,
          C0114,
          C0115,
          C0116,
          E1101,
          R0903,
          W0201,
          W0511,
          W1201,
          W1203,
          arguments-renamed,
          import-error,
          too-many-arguments,
          too-many-instance-attributes,
          too-many-locals,

max-line-length=120
ignore-docstrings = yes
